.root {
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
  padding: 0.75rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: inherit;
  font-family: inherit;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 64rem) and (min-height: 48rem) {
  .root {
    font-size: 1rem;
  }
}

.isPrimary {
  border-width: 0.0625rem;
  padding: 0.75rem 3rem;
}

.isTransparent {
  background-color: transparent;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 -1px 1px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(0, 0, 0, 0.5),
    -1px 0 1px rgba(0, 0, 0, 0.5);
}

.root > * {
  vertical-align: middle;
}

.root > svg:first-child:not(:last-child) {
  margin-right: 1em;
}

.root > svg:last-child:not(:first-child) {
  margin-left: 1em;
}
