.root {
}

.root img {
  transform: scale(0.6);
}

@media (min-width: 30rem) and (min-height: 20rem) {
  .root img {
    transform: scale(0.8);
  }
}

@media (min-width: 60rem) and (min-height: 40rem) {
  .root img {
    transform: none;
  }
}
