.root {
  pointer-events: none;
}

.root img {
  transform: scale(0.6);
}

@media (min-width: 32rem) and (min-height: 24rem) {
  .root img {
    transform: scale(0.8);
  }
}

@media (min-width: 96rem) and (min-height: 72rem) {
  .root img {
    transform: none;
  }
}
