/*
`transform` and `transform-origin` need to be defined in CSS and JS because
Safari ignores one and Internet Explorer ignores the other
*/

.root {
  display: inline-block;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 2;
}

.root g {
  transform-origin: 50% 50%;
}

.flipped g {
  transform: rotate(180deg);
}
