.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: opacity 0.5s;
}

.root[aria-hidden='true'] {
  opacity: 0;
  transition-delay: 0.75s;
  pointer-events: none;
}

.text {
  display: flex;
  overflow-y: auto;
  padding: 3rem 0 6rem;
  height: 100%;
  transition: opacity 1s 0.25s;
}

.root[aria-hidden='true'] .text {
  opacity: 0;
}

.text > * {
  margin: auto;
  max-width: none;
}

.text > * > * {
  max-width: 35rem;
}

.text ul {
  margin-left: 0;
  padding-left: 1.25rem;
}

.text li a {
  white-space: nowrap;
}
