.root {
  position: relative;
  transform-origin: 50% 66%;
  transition: transform 0.75s 0.5s;
}

.root[aria-hidden='true'],
.hasFocused {
  pointer-events: none;
}

.hasFocused {
  transition-delay: 0.25s;
}

@media (orientation: landscape) {
  .root {
    max-width: none !important;
    max-height: none !important;
  }
}

.root > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.base {
  transition: opacity 0.75s 1s;
}

.hasFocused .base {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.base > :not(style) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.base > video {
  position: absolute;
  top: 0;
  left: 0;
  animation: enter 0.5s;
}

.base::after {
  content: '';
  position: absolute;
  top: -1px; /* Cover sub-pixel height clipping */
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.45) 30%, rgba(0, 0, 0, 0) 60%);
}

.bodies {
  z-index: 1;
}
