.root {
  position: relative;
  transition: transform 0.5s, transform-origin 0.75s;
}

.root[aria-hidden='true'] {
  pointer-events: none;
}

.hasFocused {
  transition-duration: 0.75s, 0.5s;
}

@media (orientation: landscape) {
  .root {
    max-width: none !important;
    max-height: none !important;
  }
}

.root > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.base {
  transition: opacity 0.5s 0.25s;
}

.hasFocused .base {
  opacity: 0;
  transition: opacity 0.25s 0s;
}

.base > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.base::after {
  content: '';
  position: absolute;
  top: -1px; /* Cover sub-pixel height clipping */
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.45) 30%, rgba(0, 0, 0, 0) 60%);
}

.bodies {
  z-index: 1;
}

.bodies::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.6));
}
