.root {
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: transform 2s;
}

.root[aria-hidden='true'] {
  transform: translate(-50%, 25%);
}

.hasFocus {
  pointer-events: none;
}
