.root {
  transform: translate(-50%, 25%);
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: transform 2s;
}

.hasFocus {
  pointer-events: none;
}

.isUnveiled {
  transform: translate(-50%, 0);
}
