.root,
.root::before,
.root::after {
  position: absolute;
  left: 0;
  width: 100%;
}

.root {
  top: 0;
  height: 100%;
  pointer-events: none;
}

.root::before,
.root::after {
  content: '';
}

.root::before {
  top: 0;
  height: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.root::after {
  opacity: 0.6;
  bottom: 0;
  height: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  transition: opacity 0.5s 0.75s;
}

.hasFocus::after {
  opacity: 1;
  transition-delay: 0s;
}
