.root {
  padding: 0 1.25rem;
  font-size: 1rem;
}

@media (min-width: 64rem) and (min-height: 48rem) {
  .root {
    max-width: 28rem;
  }
}

@media (min-width: 96rem) and (min-height: 72rem) {
  .root {
    font-size: 1.125rem;
  }
}

.root > * {
  margin: 0 auto 1.5em;
  width: 100%;
  max-width: 28rem;
  font-size: 1.125em;
  line-height: 1.5;
}

@media (min-width: 64rem) and (min-height: 48rem) {
  .roo > * {
    max-width: none;
  }
}

.root > :last-child {
  margin-bottom: 0;
}

.root > h2 {
  margin: 0 auto 1em;
  font-size: 1.5em;
}

.root > blockquote > p:not([class]) {
  margin: 0 0 0.75em;
  font-family: ABCSerif;
  font-size: 1.125em;
  font-style: italic;
  hanging-punctuation: first;
}

.root > blockquote > p[class] {
  margin: -0.25em 0 0;
  font-size: 1.125em;
  font-weight: bold;
}

.root > blockquote > p[class]::before {
  content: '— ';
}
