.root {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 0.5s 0.5s;
}

.root[aria-hidden='true'] {
  opacity: 0;
  transition-delay: 0s;
  pointer-events: none;
}

.root a {
  display: block;
  padding: 0.75rem 1rem;
}

.root svg {
  opacity: 0.5;
  fill: #fff;
  vertical-align: top;
}
