.root {
  display: none;
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  justify-content: space-between;
  width: 28rem;
  transition: opacity 0.5s 0.5s;
}

@media (min-width: 64rem) and (min-height: 48rem) {
  .root {
    display: flex;
  }
}

.root[aria-hidden='true'] {
  opacity: 0;
  transition-delay: 0s;
  pointer-events: none;
}

.root svg {
  width: 1.5em;
}

.root svg:first-child:not(:last-child) {
  margin-right: 2em;
}

.root svg:last-child:not(:first-child) {
  margin-left: 2em;
}
