.root {
  transform: translate(-50%, 0);
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: opacity 0.5s;
}

@media (min-width: 64rem) and (min-height: 48rem) {
  .root {
    display: block;
  }
}

.root[aria-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}

.root > * {
  margin: 0 0.5rem;
}

@media (min-width: 96rem) and (min-height: 72rem) {
  .root > * {
    margin: 0 1rem;
  }
}

.root svg {
  width: 1.5em;
}

.root svg:first-child:not(:last-child) {
  margin-right: 1.5em;
}

.root svg:last-child:not(:first-child) {
  margin-left: 1.5em;
}
