.root {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s 0.5s;
}

.root[aria-hidden='true'] {
  opacity: 0;
  transition-delay: 0s;
  pointer-events: none;
}

@media (min-width: 32rem) and (min-height: 24rem) {
  .root button {
    padding-top: 100vh;
    min-width: 15vw;
    text-align: left;
    cursor: s-resize;
  }
}
